table,td{
	border:none;	
}
img{
	width:120px;
	height:120px;
	border-radius:25%;
	position:relative;
	bottom:30px;
	right:12px;
}
.vai{
	width:700px;
	border-radius:0%;
}
p{
	font-size:50px;
	font-style:bold;
}
span#div3{
padding:15px;
color:white;
background-color:black;
}
span#div4{
padding:15px;
color:white;
position:relative;
left:100px;
background-color:black;
}
button{
	border-radius:25%;
	padding:10px;
	font-size:25px;
}
span#div5{
padding:15px;
color:white;
position:relative;
left:200px;
background-color:black;
}
.conteiner{
	width:700px;
	margin:0 auto;
	animation:pino 10s infinite;
}
span#div55{
padding:15px;
color:white;
position:relative;
left:300px;
background-color:black;
}
body{
background-color:cyan;
}
@keyframes pino{
	0%,100%{
		background-color: red;
	}
	25%{
		background-color: blue;
	}
	50%{
		background-color: green;
	}
	75%{
		background-color: cyan;
	}
}
h1{
font-size:80px;
background-color:#8fbc8f;
}
#ciao1,#ciao2,#ciao3,#ciao4,#ciao5,#ciao6,#ciao7,#ciao8,#ciao9{
	width:100px;
	height:20px;
	font-size:50px;
	text-align:center;
	}
#ciao{
	animation:gino 4s infinite;
}
#ciao22{
	font-size:40px;
	position:relative;
	animation:PANE 4s infinite;
}
@keyframes PANE{
	
	from{color:red}
	to{color:orange}
}
p{
	position:relative;
	bottom:20px;
	color:red;
}
